<div ng-include="'partials/navbar'"></div>
<div class="row">
    <div class="col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li><a ui-sref="account.welcome">Account Dashboard</a></li>
            <li><a ui-sref="account.account">Account Information</a></li>
            <li><a ui-sref="account.address.view">Address Book</a></li>
            <li><a ng-href="">My Wishlist</a></li>
            <li><a ng-href="">Newsletter Subscription</a></li>
        </ul>
    </div>
    <div class="col-sm-8">
        <div class="dashboard-view" ui-view>

        </div>
    </div>
</div>